<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/PanelTemplate/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/PanelTemplate/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    @Html.Partial("ContentPartial")

</head>

<body>
    @using Syncfusion.EJ2
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            
            <div class="layout-page">
                <!-- Navbar -->
                @Html.Partial("PanelNavbarPartial")
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    @RenderBody()

                    <ejs-scripts></ejs-scripts>


                    <!-- / Content -->
                    <!-- Footer -->
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            ©
                            <script>document.write(new Date().getFullYear());</script>
                            Rent a Car
                            <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Yusuf Şener</a>
                        </div>
                    </div>
                </footer>

                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    @Html.Partial("ScriptsPartial")

    @RenderSection("Scripts", required: false)
    @Html.EJS().ScriptManager()

</body>
</html>
